* {
  box-sizing: border-box;
}

header > h1 {
  text-align: center;
}

body {
  background-color: rgb(0, 225, 255);
}

.container-item {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.formBmi {
  text-align: left;
  background-color: #888;
  padding: 16px;
}

.form-result {
  background-color: #888;
  padding: 16px;
  font-size: 40px;
  font-weight: 400;
}

.justify-paragraph {
  text-align: justify;
}

.artikel {
  text-align: justify;
}

/* Style Button BMI Start */
#calculateBmi {
  background-color: skyblue;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#resetBmi {
  background-color: crimson;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
/* Style Button BMI End */

.printResult {
  background-color: rgb(15, 248, 15);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
